@charset "utf-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

:root {
    --c-light: #f2f3f4;
    --c-dark: #222;
    --c-glass: #aaa;

    --f-ui: Arial, sans-serif;
    --f-formal: "Figtree", sans-serif;

    --i-logo: url("../img/logo_clrz_dark.svg") no-repeat center / contain;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;

    --saturation: 150%;

    --glass-bg: color-mix(in srgb, var(--c-glass) 12%, transparent);

    --glass-effect:
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
        inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-light: #222 !important;
        --c-dark: #f2f3f4 !important;

        --i-logo: url("../img/logo_clrz_light.svg") no-repeat center / contain;
    }
}

html,
body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100dvh;
    background: var(--c-light);

    color: var(--c-dark);
    font-family: var(--f-formal);
    font-weight: normal;
    font-style: normal;

    display: grid;
    place-items: center;
}

img {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

a {
    color: var(--c-dark);
}

/* HEADER */
.header {
    display: grid;
    place-items: center;
}

.logo,
.logo a {
    width: 60px;
    height: 40px;
    display: flex;
}

.logo-img {
    width: 100%;
    height: 100%;
    background: var(--i-logo);
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo:hover,
.menu li:hover {
    transform: scale(1.2);
    transition: all .5s ease;
}

/* MAIN */
.main {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

/* CANVAS */
.canvas {
    width: calc(100% - 20px);
    max-width: 1200px;
    height: 640px;

    position: relative;
}

.txt {
    position: absolute;
    inset: 0;
    padding: 20px;
    background: transparent;

    color: var(--c-dark);
    font-family: var(--f-ui);
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    align-content: center;

    filter: blur(2px);
    scrollbar-width: none;
    caret-color: transparent;
    resize: none;
}

/* FOOTER */
.footer {
    width: 100%;
}

.footer-txt {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}